# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

html-template
html-template/*

.pydevproject

*/.DS_Store
.DS_Store
